{% extends 'base.html' %}

{% block content %}


<div class="container-fluid mt-3">
    <div class="row">
        <!-- fillter -->
        <div class="col-lg-3">
            <div class="list-group">
                <a class="list-group-item list-group-item-action " href="/">All-Product</a>
                {% for category in categories %}
                <a class="list-group-item list-group-item-action "
                   href="/?category={{category.id}}">{{category.name}}</a>
                {% endfor %}
            </div>
        </div>
        <!-- all product -->
        <div class="col-lg-9 mx-auto" id="product">
            <div class="row mx-auto">
                {% for product in products %}
                <div class="card m-auto mb-3" style="width: 18rem;">
                    <img alt="IMGAE" class="card-img-top" src={{product.image.url}}>
                    <div class="card-body">
                        <p class="card-title">{{product.name}}</p>
                        <p class="card-text"><b>{{product.price}}</b></p>
                        <a class="btn btn-light border btn-sm" href="#">add to cart</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}